DATABASE_URL='#'
GEMINI_API_KEY='#'
FRONTEND_URL='#'
CLERK_JWKS_URL='#'
CLERK_ISSUER='#' #*basically frontend url of clerk
CLOUDINARY_API_SECRET="#"
CLOUDINARY_API_KEY="#"
CLOUDINARY_CLOUD_NAME="#"
SPOONACULAR_API_KEY="#"
ROBOFLOW_API_KEY="#"
ROBOFLOW_WORKSPACE=""
ROBOFLOW_PROJECT=""
ROBOFLOW_VERSION=""