fastapi
uvicorn
pydantic
python-dotenv
SQLAlchemy
asyncpg
psycopg2-binary
apscheduler
google-generativeai
google-genai
python-multipart
python-jose
httpx
cloudinary
roboflow
ultralytics
opencv-python-headless
numpy